<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{feature}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<section id="tabs" class="project-tab">
    <div class="container">
        <h2>{{feature}}</h2>
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Atom</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Wms</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table table-striped" cellspacing="0">
                            <thead class="thead-dark">
                            <tr>
                                <th>Service</th>                <!-- Titel text + href serviceAccessPoint-->
                                <th>ETF Validation Report</th>  <!-- <- text + href htmlPath-->
                                <th>Log Report</th>             <!-- <- text + href logPath-->
                                <th>NGR Metadata UUID</th>      <!-- uuid text + href getRecordByIdUrl + title metadataStandardVersion-->
                            </tr>
                            </thead>
                            <tbody>
                            {{#records}}
                            <tr>
                                <td><a href="{{ serviceAccessPoint }}">{{ title }}</a></td>
                                <td class="{{ statusColor }}"><a href="{{ htmlPath }}">{{ protocol }}: {{ status }}</a></td>
                                <td><a href="{{ logPath }}">{{ protocol }} validation logging</a></td>
                                <td><a href="{{ getRecordByIdUrl }}" title="{{ metadataStandardVersion }}">{{ uuid }}</a></td>
                            </tr>
                            {{/records}}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Employer</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#">Work 1</a></td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
